@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-sm md:text-base lg:text-xl bg-whitePrimary dark:bg-darkPrimary text-[#101921] dark:text-[#ededef];
    @apply min-h-screen;
  }
}

@layer components {
  .btn {
    @apply inline-block px-[.9em] pb-[.35em] py-[.25em] text-center align-middle border rounded-full;
  }
  
  .border-custom {
    @apply border-darkPrimary/50 dark:dark:border-darkWhite;
  }

  .block-border {
    @apply border border-[#efefef] dark:border-[#464646]
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 0.015em;
    -webkit-text-stroke-color: inherit;
    -webkit-text-fill-color: transparent;
  }
  .link span {
    @apply w-full block relative before:w-0 before:text-[color:text-black] before:overflow-hidden before:absolute before:content-[attr(data-text)] before:transition-all before:duration-[1s] before:ease-[cubic-bezier(0.84,0,0.08,0.99)] hover:before:w-full;
  }
  .link span::before {
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: #f6f8fc;
    -webkit-text-fill-color: #f6f8fc;
  }
  .text-stroke-dark .link span::before {
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: #f6f8fc;
    -webkit-text-fill-color: #f6f8fc;
  }

  .scrollbar::-webkit-scrollbar {
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #333;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  .line-background {
    background-image: repeating-linear-gradient(
        150deg,
        rgba(255, 255, 255, 0.06),
        rgba(255, 255, 255, 0.06) 1px,
        transparent 0,
        transparent 41px
      ),
      repeating-linear-gradient(
        -150deg,
        rgba(255, 255, 255, 0.06),
        rgba(255, 255, 255, 0.06) 1px,
        transparent 0,
        transparent 41px
      );
    background-size: 82px 47px;
  }

}
